* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Ubuntu";
  cursor: default;
}

body {
  --sb-track-color: #0600aabf;
  --sb-thumb-color: #02006b29;
  --background-color: rgb(255, 255, 255);
  --sb-size: 0px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 7px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 7px;
}

.layout {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./sources/background/26543270.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.hiden {
  display: none;
}

@keyframes jumpingTextLogo {
  0%, 10% {
    /* 10% of the time doing the jump */
    top: 0;
  }
  5% {
    /* Quickly jump to the peak and come back down */
    top: -5px;
  }
  100% {
    /* Remain still for the rest of the 90% time */
    top: 0;
  }
}
@keyframes jumpingLetters {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}
@keyframes headerActive {
  0% {
    right: -130%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    right: 0%;
    opacity: 1;
  }
}
.header {
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 450px) {
  .header {
    padding: 5px;
  }
}
.header .header-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 10px;
  position: relative;
  right: -130%;
  gap: 20px;
  animation: headerActive 1200ms ease 100ms 1 normal forwards;
}
.header .header-wrapper .logo-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 5px;
}
.header .header-wrapper .logo-container .logo-image img {
  display: flex;
  height: 40px;
}
.header .header-wrapper .logo-container .logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}
.header .header-wrapper .logo-container .logo-text .text-bg {
  font-family: Rubik Doodle Shadow, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 0 0 #000;
  position: relative;
  white-space: nowrap;
}
.header .header-wrapper .logo-container .logo-text .text-bg span {
  position: relative;
  animation: jumpingTextLogo 3.3s ease 600ms infinite forwards;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(0) {
  animation-delay: 1s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(1) {
  animation-delay: 1.02s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(2) {
  animation-delay: 1.04s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(3) {
  animation-delay: 1.06s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(4) {
  animation-delay: 1.08s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(5) {
  animation-delay: 1.1s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(6) {
  animation-delay: 1.12s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(7) {
  animation-delay: 1.14s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(8) {
  animation-delay: 1.16s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(9) {
  animation-delay: 1.18s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(10) {
  animation-delay: 1.2s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(11) {
  animation-delay: 1.22s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(12) {
  animation-delay: 1.24s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(13) {
  animation-delay: 1.26s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(14) {
  animation-delay: 1.28s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(15) {
  animation-delay: 1.3s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(16) {
  animation-delay: 1.32s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(17) {
  animation-delay: 1.34s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(18) {
  animation-delay: 1.36s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(19) {
  animation-delay: 1.38s;
}
.header .header-wrapper .logo-container .logo-text .text-bg span:nth-child(20) {
  animation-delay: 1.4s;
}
.header .header-wrapper .logo-container .logo-text .text-sm {
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  width: fit-content;
  white-space: nowrap;
}
.header .header-wrapper .navbar {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.header .header-wrapper .navbar .link {
  color: #000;
  text-shadow: 0 0 0 #000;
  font-weight: 400;
  font-size: 14px;
  padding: 5px 10px;
  font-family: Rubik Doodle Shadow, sans-serif;
  border-bottom: 0px solid transparent;
  transition: border-bottom 600ms;
  white-space: nowrap;
  cursor: pointer;
}
.header .header-wrapper .navbar .link:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header .header-wrapper .navbar .link:hover span {
  position: relative;
  animation: jumpingLetters 300ms ease forwards;
}
.header .header-wrapper .navbar .link:hover span:nth-child(0) {
  animation-delay: 0s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(1) {
  animation-delay: 0.02s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(2) {
  animation-delay: 0.04s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(3) {
  animation-delay: 0.06s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(4) {
  animation-delay: 0.08s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(5) {
  animation-delay: 0.1s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(6) {
  animation-delay: 0.12s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(7) {
  animation-delay: 0.14s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(8) {
  animation-delay: 0.16s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(9) {
  animation-delay: 0.18s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(10) {
  animation-delay: 0.2s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(11) {
  animation-delay: 0.22s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(12) {
  animation-delay: 0.24s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(13) {
  animation-delay: 0.26s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(14) {
  animation-delay: 0.28s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(15) {
  animation-delay: 0.3s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(16) {
  animation-delay: 0.32s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(17) {
  animation-delay: 0.34s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(18) {
  animation-delay: 0.36s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(19) {
  animation-delay: 0.38s;
}
.header .header-wrapper .navbar .link:hover span:nth-child(20) {
  animation-delay: 0.4s;
}
.header .header-wrapper .navbar-menu {
  display: none;
}
.header .header-wrapper .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.header .header-wrapper .actions .button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 3px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3568627451);
  transition: all 300ms;
}
.header .header-wrapper .actions .button img {
  display: flex;
  width: 20px;
  transition: all 300ms;
}
.header .header-wrapper .actions .button.active {
  background-color: rgba(0, 0, 0, 0.1725490196);
}
.header .header-wrapper .actions .button:hover {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3568627451);
}
.header .header-wrapper .actions .button:hover img {
  width: 30px;
}
@media screen and (max-width: 996px) {
  .header .header-wrapper .navbar.desktop {
    display: none;
  }
  .header .header-wrapper .navbar-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .header .header-wrapper .navbar-menu .button-menu {
    cursor: pointer;
    display: flex;
    border: none;
    background-color: transparent;
  }
  .header .header-wrapper .navbar-menu .button-menu img {
    width: 20px;
  }
  .header .header-wrapper .actions {
    width: fit-content;
  }
}

.main {
  padding: 10px 20px;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}
@keyframes elementActive {
  0% {
    opacity: 0;
    right: -130%;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}
.main .mobile-menu {
  display: none;
}
.main .mobile-menu.active {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: fit-content;
}
.main .mobile-menu.active .wrapper-menu {
  padding: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
}
.main .mobile-menu.active .wrapper-menu .header-menu .button-close {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.main .mobile-menu.active .wrapper-menu .header-menu .button-close img {
  display: flex;
  width: 20px;
  transform: rotate(180deg);
}
.main .mobile-menu.active .wrapper-menu .container-menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main .mobile-menu.active .wrapper-menu .container-menu .mobile-link {
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
}
.main .main-wrapper.active {
  animation: elementActive 1200ms ease-out 1 normal forwards;
  overflow-y: hidden;
  overflow-y: hidden;
  padding: 10px 10px 20px;
  background: var(--background-color);
  border-radius: 10px;
  position: relative;
  min-height: 300px;
  right: -130%;
}
.main .main-wrapper.active .slide {
  display: none;
}
.main .main-wrapper.active .slide.active {
  display: block;
}
.main .main-wrapper.active .slide.active .title-bg {
  margin: 20px;
  width: fit-content;
  color: #000;
  text-shadow: 0 0 0 #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  font-family: Rubik Doodle Shadow, sans-serif;
  border-bottom: 1px solid #000;
}
.main .main-wrapper.active .slide.active .container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.main .main-wrapper.active .slide.active .container .text-wrapper {
  width: 50%;
  margin: 20px;
}
@keyframes elementShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main .main-wrapper.active .slide.active .container .text-wrapper p {
  font-size: 14px;
  line-height: 20px;
  opacity: 0;
  animation: elementShow 600ms ease 1s 1 normal forwards;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(0) {
  animation-delay: 1s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(1) {
  animation-delay: 1.15s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(2) {
  animation-delay: 1.3s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(3) {
  animation-delay: 1.45s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(4) {
  animation-delay: 1.6s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(5) {
  animation-delay: 1.75s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(6) {
  animation-delay: 1.9s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(7) {
  animation-delay: 2.05s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(8) {
  animation-delay: 2.2s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(9) {
  animation-delay: 2.35s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(10) {
  animation-delay: 2.5s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(11) {
  animation-delay: 2.65s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(12) {
  animation-delay: 2.8s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(13) {
  animation-delay: 2.95s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(14) {
  animation-delay: 3.1s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(15) {
  animation-delay: 3.25s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(16) {
  animation-delay: 3.4s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(17) {
  animation-delay: 3.55s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(18) {
  animation-delay: 3.7s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(19) {
  animation-delay: 3.85s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:nth-child(20) {
  animation-delay: 4s;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p:not(:last-child) {
  margin-bottom: 15px;
  text-indent: 10px;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p .first-character {
  font-family: Rubik Doodle Shadow, sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-shadow: 0 0 1px #000;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p .text-rubik {
  font-family: Rubik Doodle Shadow, sans-serif;
  font-size: 20px;
  text-shadow: 0 0 1px #000;
}
.main .main-wrapper.active .slide.active .container .text-wrapper p.title-text {
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1725490196);
  width: fit-content;
}
.main .main-wrapper.active .slide.active .container .text-wrapper .container-items .item {
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.3568627451);
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.4509803922);
  border-radius: 8px;
  position: relative;
}
.main .main-wrapper.active .slide.active .container .text-wrapper .container-items .item:not(:last-child) {
  margin-bottom: 20px;
}
.main .main-wrapper.active .slide.active .container .text-wrapper .container-items .item .button-toogle {
  position: absolute;
  top: 15px;
  right: 30px;
}
.main .main-wrapper.active .slide.active .container .text-wrapper .container-items .item .button-toogle img {
  cursor: pointer;
  transform: rotate(-90deg);
  width: 15px;
  transition: all 300ms;
}
.main .main-wrapper.active .slide.active .container .text-wrapper .container-items .item .button-toogle.active img {
  transform: rotate(90deg);
}
.main .main-wrapper.active .slide.active .container .text-wrapper .container-items .item .accordion-title {
  cursor: pointer;
}
.main .main-wrapper.active .slide.active .container .text-wrapper .container-items .item .accordion-title p {
  max-width: 80%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1725490196);
}
.main .main-wrapper.active .slide.active .container .text-wrapper .container-items .item .accordion-text {
  padding-top: 0px;
  margin-left: 0px;
  font-weight: 300px;
  font-size: 0px;
  line-height: 0px;
  color: #5c5c5c;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}
.main .main-wrapper.active .slide.active .container .text-wrapper .container-items .item .accordion-text li {
  margin-bottom: 5px;
}
.main .main-wrapper.active .slide.active .container .text-wrapper .container-items .item .accordion-text li .text-bold {
  font-weight: 500 !important;
}
.main .main-wrapper.active .slide.active .container .text-wrapper .container-items .item .accordion-text.active {
  height: fit-content;
  font-size: 14px;
  line-height: 20px;
  max-height: 2000px;
  padding-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}
.main .main-wrapper.active .slide.active .container .image-block {
  width: 50%;
  opacity: 0;
  display: flex;
  align-items: flex-start;
  animation: elementShow 600ms ease 3s 1 normal forwards;
}
.main .main-wrapper.active .slide.active .container .image-block .animationContainer,
.main .main-wrapper.active .slide.active .container .image-block .animationContainer1 {
  width: 40vw;
}
.main .main-wrapper.active .slide.active .container .images-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  margin: 10px;
}
.main .main-wrapper.active .slide.active .container .images-container .animationContainer,
.main .main-wrapper.active .slide.active .container .images-container .animationContainer1 {
  width: 40vw;
}
.main .main-wrapper.active .slide.active .container .images-container .wrapper-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.main .main-wrapper.active .slide.active .container .images-container .img img {
  cursor: pointer;
  height: fit-content;
  display: flex;
  border-radius: 3px;
  width: 30px;
  transition: all 300ms;
}
.main .main-wrapper.active .slide.active .container .images-container .img img:hover {
  width: 40px;
}
@media screen and (max-width: 850px) {
  .main .main-wrapper.active .slide.active .container {
    flex-direction: column;
    justify-content: center;
  }
  .main .main-wrapper.active .slide.active .container .text-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .main .main-wrapper.active .slide.active .container .images-container,
  .main .main-wrapper.active .slide.active .container .image-block {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  .main {
    padding: 0 5px 5px;
  }
  .main .main-wrapper.active .slide.active .title-bg {
    margin: 5px;
  }
  .main .main-wrapper.active .slide.active .container {
    gap: 10px;
  }
  .main .main-wrapper.active .slide.active .container .text-wrapper {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
